.wrapper-header-one {
    background-color: var(--bg-primary);
    height: 64px;
}

.wrapper-navbar-top {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1240px;
    height: 100%;
}

// 1. Navbar top left

.navbar-top-left {
    display: flex;
    width: 75%;
    align-items: center;
}

.icon-bookmyshow {
    width: 134px;
    min-width: 134px;
}

.link-bookmyshow {
    display: flex;
    align-items: center;
    max-width: 115px;
    margin-right: 16px;
}

// 1.1 Input navbar

.input-search-container {
    width: 100%;
    height: 36px;
}

.input-search {
    width: calc(100% - 134px);
    max-width: 549px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    cursor: text;
    display: flex;
    align-items: center;
}

.input-search-placeholder {
    width: calc(100% - 50px);
    max-width: 500px;
    color: rgb(153, 153, 153);
    font-size: 14px;
    user-select: auto;
}

.search-icon {
    width: 39px;
    height: 34px;
}

.search-icon img {
    width: 13px;
    height: 13px;
    margin: 10px 12px;
}

// 2. Navbar top right
.navbar-top-right {
    display: flex;
    align-items: center;
    height: 100%;
}

.wrapper-city-dropdown {
    margin-right: 24px;
    cursor: pointer;
}

.city-dropdown {
    position: relative;
    padding-right: 15px;
    font-size: 14px;
    color: rgb(204, 204, 204);
    line-height: 19px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    font-weight: 400;
}

.wrapper-city-dropdown:hover > .city-dropdown {
    color: #fff;
}

.city-dropdown {
    display: flex;
}

.city-dropdown::after {
    content: "";
    position: absolute;
    inset: -2px 0px 0px;
    margin: auto 0px auto auto;
    width: 0px;
    height: 0px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 5px solid rgb(255, 255, 255);
}

.button-sign {
    border-radius: 4px;
    width: 67px;
    height: 25px;
    font-size: 12px;
    line-height: 25px;
    font-family: "Roboto", sans-serif;
}

.bar-icon {
    margin-left: 24px;
    cursor: pointer;
}

// 2. Navbar bottom

.wrapper-header-two {
    width: 100%;
    background-color: var(--bg-secondary);
    height: 40px;
}

.wrapper-navbar-bottom {
    max-width: 1240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-bottom-first {
    display: flex;
    align-items: center;
    width: 75%;
    background: rgb(34, 37, 57);
}

.nav-bottom-second {
    display: flex;
    background: rgb(34, 37, 57);
    align-items: center;
}

.nav-link-first {
    font-size: 14px;
    font-weight: 400;
}

.nav-link-first a {
    color: rgb(204, 204, 204);
}

.nav-link-first a:not(:first-child) {
    padding: 0 10px;
}

.nav-link-first a:first-child {
    padding-right: 10px;
}

.nav-link-second {
    font-size: 12px;
}

.nav-link-second a {
    color: rgb(255, 255, 255);
}

.nav-link-second a:not(:last-child) {
    padding: 0 12px;
}

.nav-link-second a:last-child {
    padding-left: 12px;
}