.wrapper-week {
    background-color: rgb(242, 242, 242);
    padding: 15px;
}

.container-week {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.title-week h1 {
    font-size: 18px;
    text-align: center;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-transform: none;
    color: rgb(127, 127, 127);
}

.introduce-week {
    padding: 0px 0px 15px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(127, 127, 127);
}

.subtitle-week h2 {
    font-size: 16px;
    text-align: left;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-transform: none;
    color: rgb(127, 127, 127);
}

.mb-t {
    margin: 0px 0px 20px;
}

.link-week {
    color: rgb(220, 53, 88);
}

.list-link {
    list-style: none;
    padding: 0;
}