.swiper {
    width: 100%;
}

.swiper-module {
    height: 472px;
    /* background-image: linear-gradient(90deg, rgb(26, 26, 26) 24.97%, 
                    rgb(26, 26, 26) 38.3%, 
                    rgba(26, 26, 26, 0.04) 97.47%, 
                    rgb(26, 26, 26) 100%), 
                    url('../../assets/thumbail/spider-man-no-way-home.jpg'); */
    background-repeat: no-repeat;
    background-position: right center;
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.swiper-button-next::after, .swiper-button-prev::after {
   font-size: 18px;
}

.swiper-button-next {
    border-radius: 6px 0px 0px 6px;
    right: 0;
}

.swiper-button-prev {
    border-radius: 0px 6px 6px 0px;
    left: 0;
}

.swiper-pagination-bullet {
    width: 36px;
    height: 2px;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

/* .swiper-pagination-bullet-active {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgb(255, 255, 255) 50%);
    animation: 5000ms ease 0s infinite normal none running fill;
} */

.movie-card-swiper {
    border-radius: 16px;
    object-fit: cover;
}

.swiper-slide .movie-card-swiper .image-movie-swiper {
    width: auto;
    max-height: 408px;
    height: 408px;
}

.wrapper-swiper-slide {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.content-name-movie {
    padding-left: 32px;
    max-width: 520px;
}

.content-name-movie h1 {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: bold;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

.language-movie a {
    color: rgb(204, 204, 204);
}

.language-movie span {
    align-self: flex-end;
    padding: 0px 8px;
}

.language-movie-two {
    background-color: transparent;
    padding: 2px 0px;
}

.language-movie-two span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: rgb(248, 68, 100);
    cursor: pointer;
}

.language-movie {
    display: flex;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
}